services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: altra_hrms
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 30


  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  mercure:
    image: dunglas/mercure
    environment:
      SERVER_NAME: ':3000'
      MERCURE_PUBLISHER_JWT_KEY: '!ChangeThisMercureJwtSecret!'
      MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeThisMercureJwtSecret!'
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins *
        anonymous
    ports:
      - "3000:3000"

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"

  api:
    build:
      context: ./back/altra-call-hrms-api
      dockerfile: Dockerfile
    environment:
      APP_ENV: dev
      APP_SECRET: ChangeMeToASecretValue
      DATABASE_URL: "mysql://root:root@db:3306/altra_hrms?serverVersion=8.0&charset=utf8mb4"
      MERCURE_PUBLIC_URL: "http://mercure:3000/.well-known/mercure"
      MERCURE_JWT_SECRET: "!ChangeThisMercureJwtSecret!"
      # Mailhog
      MAILER_DSN: "smtp://mailhog:1025"
      REDIS_URL: "redis://redis:6379"
      MESSENGER_TRANSPORT_DSN: "sync://"
    volumes:
      - ./back/altra-call-hrms-api:/app
      - api_vendor:/app/vendor
      - api_var:/app/var
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    volumes:
      - ./front:/app
      - front_node_modules:/app/node_modules
    environment:
      # Optional: keep Angular dev server polling stable on Windows
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "4200:4200"
    depends_on:
      - api

volumes:
  db_data:
  api_vendor:
  api_var:
  front_node_modules: