services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: altra_hrms
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - altra_hrms_pg:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  mercure:
    image: dunglas/mercure
    environment:
      SERVER_NAME: ':3000'
      MERCURE_PUBLISHER_JWT_KEY: '!ChangeThisMercureJwtSecret!'
      MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeThisMercureJwtSecret!'
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins *
        anonymous
    ports:
      - "3000:3000"

volumes:
  altra_hrms_pg:
