services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      string $mailerDsn: '%env(MAILER_DSN)%'
      string $projectDir: '%kernel.project_dir%'

  App\:
    resource: '../src/'
    exclude:
      - '../src/Kernel.php'
